{% extends '_templates/base.njk' %}

{% block page_title %}Final Project 2024{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1 style="color:blue; text-align:center;font-weight:bold">Angie's Book Reviews</h1>
  <p style="color:blue;font-size:2em;font-weight:bold"> Featured Reviews!</p>

  <div class="row">
    {% for book in Author.Books %}
      <div class="col">
        <img src="img/{{ book.Image }}" alt="Photo of {{book.Author}}" class="img-fluid">
        <h3><a href="review/{{ book.slug }}.html">{{ book.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
 
    <hr>

</div>
{% endblock %}